@font-face {
  font-family: 'Inter';
  src: url('../../assets/fonts/inter/Inter-Medium-slnt=0.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Silkscreen';
  src: url('../../assets/fonts/silkscreen/slkscr.ttf') format('truetype');
}
