@import './globals.scss';
@import './font.scss';
@import './colors.scss';
@import './standards.scss';
@import './variables.scss';
@import './traits.scss';
@import './scrollbar.scss';
@import '../views/browser/nav/nav.scss';
@import '../views/browser/main/cmps/statuses/statuses.scss';
@import '../views/browser/main/cmps/stageDetails/stageDetails.scss';
@import '../views/browser/main/cmps/buildSummary/buildSummary.scss';
@import '../views/browser/main/cmps/buildStats/buildStats.scss';
@import '../views/browser/main/cmps/generalLog/generalLog.scss';
@import '../views/browser/config/cmps/config/config.scss';

html {
  color: $text;
  display: flex;
  height: 100%;
  overflow: hidden;

  body {
    display: flex;
    flex-flow: row nowrap;
    margin: 10px;
    padding: 0;
    height: calc(100% - 20px);
    width: 100%;

    main#main-outlet {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      margin: $top-page-margin 0px 20px 20px;
      padding: 8px;
      overflow: auto;

      #scroll-buttons {
        position: absolute;
        top: 0;
        right: 0;
        button {
          border-radius: 3px;
        }
      }
    }
  }
}
